<!doctype html>
<title>{% block title %}{% endblock %} - MM22</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index') }}">MM22</a></h1>
  <ul>
    {% if current_user.is_authenticated %}
      <img class="user-image" src="./static/uploads/{{current_user.image}}" alt="Image">
      <li><span>{{ current_user.name }} [{{ IP }}]</span>
        <li><a href="{{ url_for('access') }}">Acessos</a>
        <li><a href="{{ url_for('logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>